*{background-color: rgb(29, 158, 197);
margin: 1%;}


h1{
   margin-left: 22%;
   width: 415px
}

h2{
   margin-left: 20%;
   width: 339px;
   justify-content: center;}

p{margin-left: 10%;
   width: 435px;
   padding: 0%;}


div{
   margin-left: 50%;
   display: block;
}

.botones {
   font-size: larger;
   margin: 0%;
   background-color: rgb(7, 44, 126);
   border-style: double;
   border-color: rgb(0, 0, 0);
}

#foto1 {
   justify-content: center;
   width: 60%;
   height: 250px;
   display: block;
   position: flex;
   margin-left: 15%;
   margin-right: 15%;
}
   
#Upcoming {
   width: 100%;
   margin-left: 40%;
   margin-right: 40%;
   margin-bottom: 75px;
   border-color: rgb(0, 0, 0);  
}

#foto2 {
   justify-content: left;
   width: 250px;
   height: 250px;
   float: left;
   margin-left: 5%;  
}

aside {
  width: 40%;
  padding-left: 15px;
  margin-left: 10px;
  float: right;
  font-size: larger;
  margin-right: 15%;
}
 table{
   padding: 3px;
   background-color: black;
 }
 dt{font-size: x-large;}
 ul{padding-left: 0%;}