h1{
   margin-left: 10%;
}

div{
   margin-left: 50%;
   display: block;
}

.botones {
   background-color: rgb(83, 165, 197);
   border-style: double;
   border-color: black;
}

#foto1 {
   justify-content: center;
   width: 60%;
   height: 250px;
   display: block;
   position: flex;
   margin-left: 15%;
   margin-right: 15%;
}
   
#Upcoming {
   width: 100%;
   margin-left: 40%;
   margin-right: 40%;
   margin-bottom: 75px;
   border-color: black;  
}

#foto2 {
   justify-content: left;
   width: 250px;
   height: 250px;
   float: left;
   margin-left: 15%;  
}

aside {
  width: 40%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-size: larger;
  margin-right: 15%;
}